

.footer {
    color: white;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 5vw;  
    box-sizing: border-box;
    margin-top: 0;     
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 30px;                        
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;   
}


.footer-content-left .footer-logo {
    height: 50px;
    margin-bottom: 10px;
}

.footer-content-left p {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 10px;
}


.footer-social-icons {
    display: flex;
    gap: 10px;
}

.footer-social-icons img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.footer-social-icons img:hover {
    transform: scale(1.1);
}


.footer-content-center h3,
.footer-content-right h3 {
    margin-bottom: 6px;
    color: white;
}


.footer-content-center ul,
.footer-content-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
    margin-bottom: 6px;
    font-size: 0.9rem;
    cursor: pointer;
}


.footer-content-center li a,
.footer-content-left li a,
.footer-content-right li a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-content-center li a:hover,
.footer-content-left li a:hover,
.footer-content-right li a:hover {
    color: #ff944d;
}


.footer hr {
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: grey;
    border: none;
}


.footer p {
    font-size: 0.85rem;
    text-align: center;
    margin: 0;
}



@media (max-width: 900px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }
    .footer-social-icons {
        justify-content: center;
    }
}
